/* frontend/src/components/LoginForm.css */
.login-form {
  background: white;
  color: black;
  padding: 40px;
  border-radius: 1px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #dbdbdb;
}
  
  
  .login-form h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #262626;
    font-family: 'Instagram Sans', sans-serif;
  }
  
  .login-form form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 1em;
    background: #fafafa;
    color: black;
  }
  
  .login-form button {
    color: rgb(250, 247, 252);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    background-color: #0056b3;
  }
  
  .login-form button:hover {
    background-color: #5e97d5;
  }
  